$font-stack: Helvetica,
sans-serif;
$primary-color: #444;
$font-color: #DDD;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

%fuente-basica {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  color: $font-color;
}

h1 {
  color: white;
  text-align: center;
}


.cuadrado {

  display: grid;
  height: 100%;
  width: 30vw;
  background-color: #5e5646;
  border-radius: 12px 12px 12px 12px;
  border: 2px solid #7d828c;
}

.imagenes,
.nombres,
.botones {

  place-self: center;
  width: 90%;
}

.imagenes {

  margin-top: 5px;
  background-size:100% 100%;
  height: 65vh;
}

.nombres {
  display: grid;
  color: black;
  background-color: aquamarine;
  height: 70px;

  p {
    place-self: center;
  }
}

.botones {

  width: 30%;
  height: 35px;
  margin-bottom: 5px;
}

@media only screen and (min-width:770px)  {

  .resultados {

    padding: 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 25px;
    align-items: center;
  }
  

 }

 @media only screen and (min-width:320px) {
  .resultados {

    
    padding: 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 25px;
    align-items: center;
    justify-items: center;
  }
}