body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#centrado {
    display: grid;
    justify-items: center;
}

#_contenedor {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    height: 90%;
    width: auto;
    margin-top: 40px;
}

#_contenedor div {
    align-items: center;
}

.cuadrado {

    border: grey solid 1px;
    height: 100%;
    width: 100%;
    background-color: pink;
    display: grid;
    transition: 0.5s;
    
}

.uwu {

    justify-self: center;
    background-image: url("img/uwu.gif");
    height: 80%;
    width: 80%;
    background-size: 100%;
    
    
}

.owo {

    justify-self: center;
    background-image: url("img/owo.gif");
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    background-size: 100%;
    
 
}
