body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

._contenedores {
    margin: 15px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
._cuadrado{

    width: 300px;
    height: 300px;
    border: solid 1px pink;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(102,102,102,0.96);
    -moz-box-shadow: 10px 10px 4px 0px rgba(102,102,102,0.96);
    box-shadow: 10px 10px 4px 0px rgba(102,102,102,0.96);

}

#_caja1 {
    background-color: red;
}

#_caja2 {
    background-color: blue;
}

#_caja3 {
    background-color: green;
}

#_caja4 {
    background-color: black;
}

._boton {
  margin-top: 10px;
  align-self: center;

}
