body {
    margin: 0;
    display: grid;
    justify-items: center;
}

#tablero {

    background-color: cadetblue;
    width: 90%;
    height: 90vh;
    margin-top: 5vh;
    display: flex;


}

#campo {
    margin: 0;
    background-color: chartreuse;
    height: 100%;
    width: 80%;
}

.banquillo {

    margin: 0;
    border: 1px solid black;
    width: 10%;
    height: 100%;
}

.jugador {
    width: 100%;
    height: 50px;
    border: 1px solid red;
}