body {
    margin: 0;
    min-height: calc(100vh - 100px);

}

container {

    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "reproductor lista"
        "reproductor lista"
        "reproductor lista"
        "reproductor lista"
        "reproductor lista"
        "reproductor lista";
}


#reproductor {

    display: grid;
    width: 100%;
    height: 100vh;
    grid-area: reproductor;
    background-color: pink;
    justify-items: center;
}

#caja {
    
    align-self: center;
    height: 450px;
    width: 700px;
    display: grid;
  
}

#video {
    height: 400px;
    width: 100%;
    background-size: cover;
}

#controles {
    height: 50px;
    width: 700px;
    background-color: saddlebrown;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1px;
    /*
    transform: translateY(-50px) translateX(0);
    */
}

#lista {
    width: 100%;
    height: 100vh;
    grid-area: lista;
    background-color: black;
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    justify-content: center;
}


.videos {

    background-size: 100%;
    height: 100%;
    width: 100%;
}

.divVideos {

    z-index: 50;
    position: absolute; 
}

#silenciar {
    background-image: url('../ICONOS/baseline_volume_off_white_48dp.png');
}

#playPause {
    background-image: url('../ICONOS/baseline_play_circle_filled_white_48dp.png');
}

#retroceder {
    background-image: url('../ICONOS/baseline_fast_rewind_white_48dp.png');
}

#adelantar {
    background-image: url('../ICONOS/baseline_fast_forward_white_48dp.png');
}

#reiniciar {
    background-image: url('../ICONOS/baseline_replay_white_48dp.png');
}

#bajarVol {
    background-image: url('../ICONOS/baseline_volume_down_white_48dp.png');
}

#subirVol {
    background-image: url('../ICONOS/baseline_volume_up_white_48dp.png');
}

#silenciar, #playPause, #retroceder, #adelantar, #reiniciar, #bajarVol, #subirVol {

    background-size:100% 100%;
    border: solid 0.5px black;

}

#publicidad {
    background-image: url('../ICONOS/');
    
}

#barraProgresion {

}